/* === Body === */

.body {
  composes: container container--responsive mx-auto from global;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  min-height: 100%;
}

/* === Search Input === */

.search-input-container {
  composes: px-4 from global;
}

.search-input {
  composes: transition from global;
  display: flex;
  flex-flow: row nowrap;
  clear: both;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid color-base(100);
  box-shadow: none;
  background-color: color-base(100);
  font-size: 1rem;
  line-height: 2.5rem;

  &:focus-within {
    box-shadow: 0 0 0 2px color-base(700, .5);
  }
}

.search-input__icon {
  margin-left: 1rem;
  opacity: .5;
  line-height: inherit;
}

.search-input__input {
  flex: 1;
  padding: 0 .5rem;

  &::placeholder {
    opacity: .5;
  }
}

/* === Body Sub === */

.body-sub {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: color-base(900);
}

/* === Search Type Radio === */

.search-type-container {
  composes: mx-auto from global;
  margin-top: 1rem;
  text-align: center;
}

.search-type {
  position: relative;
  display: inline-block;
}

.search-type__input {
  display: none;
}

.search-type__label {
  composes: transition from global;
  display: inline-block;
  padding: .5rem 1rem;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
  
  &:active {
    opacity: .5;
  }
}

.search-type__input:checked + .search-type__label {
  /* background-color: color-primary(700); */
  color: color-primary(contrast);
  font-weight: 700;
}

.search-type__active-bg {
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: color-primary(700);
  border-radius: 9999px;
}
