@import "./colors.css";
@import "./utilities.css";

html {
  background-color: color-base(50);
  color: color-base(950);
}

html, body, #root {
  height: 100%;
  min-height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}
