.root {
  min-height: 100%;
  height: 100%;
}

.root__inner {
  composes: px-6 from global;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: 100%;
  text-align: center;
}