:root {
  --lightest: 255 255 255;
  --darkest: 0 0 0;

  /* Locked at 500 */
  --primary-50: 242 254 239;
  --primary-100: 225 255 217;
  --primary-200: 195 252 182;
  --primary-300: 146 248 125;
  --primary-400: 92 234 62;
  --primary-500: 49 194 19;
  --primary-600: 38 175 10;
  --primary-700: 32 137 12;
  --primary-800: 31 107 16;
  --primary-900: 25 88 15;
  --primary-950: 8 49 2;
  --primary-contrast: 0 0 0;
  /* 400-600의 컨텐츠 대비 */

  /* Locked at 500 */
  --base-50: 245 246 245;
  --base-100: 230 231 230;
  --base-200: 208 209 208;
  --base-300: 176 177 175;
  --base-400: 135 138 134;
  --base-500: 106 109 105;
  --base-600: 92 95 91;
  --base-700: 79 80 78;
  --base-800: 68 70 68;
  --base-900: 60 61 60;
  --base-950: 37 39 37;
  --base-contrast: 255 255 255;
  /* 400-600의 컨텐츠 대비 */
}

.dark-theme {
  --lightest: 0 0 0;
  --darkest: 255 255 255;

  /* Locked at 500 */
  --primary-50: 8 49 2;
  --primary-100: 25 88 15;
  --primary-200: 31 107 16;
  --primary-300: 32 137 12;
  --primary-400: 38 175 10;
  --primary-500: 49 194 19;
  --primary-600: 92 234 62;
  --primary-700: 146 248 125;
  --primary-800: 195 252 182;
  --primary-900: 225 255 217;
  --primary-950: 242 254 239;
  --primary-contrast: 0 0 0;
  /* 400-600의 컨텐츠 대비 */

  /* Locked at 500 */
  --base-50: 37 39 37;
  --base-100: 60 61 60;
  --base-200: 68 70 68;
  --base-300: 79 80 78;
  --base-400: 92 95 91;
  --base-500: 106 109 105;
  --base-600: 135 138 134;
  --base-700: 176 177 175;
  --base-800: 208 209 208;
  --base-900: 230 231 230;
  --base-950: 245 246 245;
  --base-contrast: 255 255 255;
  /* 400-600의 컨텐츠 대비 */
}
