$HEADER_HEIGHT: 4rem;

/* === Header Wrapper === */

.header-wrapper {

}

/* === Header === */

.header {
  composes: transition from global;
  min-height: $HEADER_HEIGHT;
  background-color: color-base(50, .8);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid color-base(200);
  /* box-shadow: 
    0 2px 12px 0 rgb(12 12 12 / .2); */
}

.header--layout {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.header--top {
  background-color: transparent;
  backdrop-filter: none;
  border-bottom-color: transparent;
}

.header--large-title {
  /* min-height: calc($HEADER_HEIGHT * 2); */
}

.header__inner {
  composes: container container--sm mx-auto px-6 from global;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: $HEADER_HEIGHT;
}

.header__back-btn {
  composes: transition from global;
  position: relative;
  left: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: color-base(500, .1);
  }
  
  &:active {
    background-color: color-base(500, .2);
  }
}

.header__content {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.header__title {
  composes: transition from global;
  font-size: 1.25rem;
  font-weight: 700;
}

.header--top.header--large-title {
  min-height: calc($HEADER_HEIGHT * 2);
}

.header--top.header--large-title .header__title {
  transform: translate(-3rem, $HEADER_HEIGHT);
  font-size: 1.5rem;
}

/* === Subheader === */

.header__sub {
  composes: container container--sm mx-auto transition from global;
  padding: 0 1rem .5rem 1rem;
}

.header--top.header--large-title .header__sub {
  transform: translate(0, $HEADER_HEIGHT);
}

/* === Header Placeholder === */

.header-placeholder {
  height: $HEADER_HEIGHT;
}
