:root {
  /** Locked at 700 */
  --primary-50: 241 252 245;
  --primary-100: 222 250 236;
  --primary-200: 191 243 216;
  --primary-300: 141 232 186;
  --primary-400: 84 212 148;
  --primary-500: 45 186 116;
  --primary-600: 32 153 93;
  --primary-700: 30 127 79;
  --primary-800: 28 95 62;
  --primary-900: 24 79 53;
  --primary-950: 8 43 27;
  --primary-contrast: 255 255 255;
  
  /** Locked at 950 */
  --base-50: 246 246 246;
  --base-100: 231 231 231;
  --base-200: 209 209 209;
  --base-300: 176 176 176;
  --base-400: 136 136 136;
  --base-500: 109 109 109;
  --base-600: 93 93 93;
  --base-700: 79 79 79;
  --base-800: 69 69 69;
  --base-900: 61 61 61;
  --base-950: 28 28 28;
  --base-contrast: 255 255 255;
}
